html {
  font-size: 100%;
} /*16px*/

:root {
  --text-color: black;
  --bg-color: white;
  --primary-color: rgb(105, 133, 255);
}

body {
  background: white;
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.383rem;
}

h2 {
  font-size: 1.296rem;
}

h3 {
  font-size: 1.215rem;
}

h4 {
  font-size: 1.138rem;
}

h5 {
  font-size: 1.067rem;
}

small,
.text_small {
  font-size: 0.937rem;
}

header > div {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  width: 100px;
  height: 100px;
  object-fit:cover;
  object-position: 17px;
}

.image-left {
  float: left;
  margin: 0 1 0 0em;
}

.image-right {
  float: right;
  margin: 0 0 0 1em;
}

article p {
  text-align: justify;
}

.clearfloat::after {
  clear: both;
  display: table;
  content: "";
}

nav ul {
  list-style: none;
}

.navigation_main > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  white-space: normal;
}

ul.menu {
  border: 2px solid black;
  background-image: url("images/wood.jpg");
}

.menu li a {
  color: #a20d2b;
  text-decoration: none;
}

.navigation_main ul ul {
  display: none;
  position: relative;
}

.navigation_main li:hover > ul{
  display: block;
  position: absolute;
  background-color: white;
}


.menu li:hover {
  background-color: rgb(231, 227, 227);
  text-decoration: underline;
}

.menu li.active > a {
  color: var(--primary-color);
}

#about {
  font-weight: bold;
}

main {
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
  min-width: 200px;
}

aside > ul {
  list-style: none;
}
aside figure {
  margin: 0;
}

/* Utils ( general / reusable ) */

.row {
  /* display: inline-flex; // inline-block */
  display: flex;
}

.row .col {
  flex: 1 1 100%;
  /* width: 100%;
  flex-grow: 1;
  flex-shrink: 1; */
}

/* Semantic ( Specific ) */
.main-content article.product-content {
  /* width: 60%; */
  flex-grow: 3;
}
.main-content .sidebar {
  flex-shrink: 3;
  width: 200px;
}

figure img{
  display: flex;
  width: 100%;
}

@media print{
  .navigation_main, .sidebar{
    display: none;
  }
}

